body{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Charm';
}
audio{ width: 100%; 
    position: fixed;
    bottom: 0;
    z-index: 2;
}
.main-card{
    position: relative;
    width: 1200px;
    height: 800px;
    margin: 20px auto 0;
}

.main-card .box{
    position: relative;
    width: calc(300px - 30px);
    height: calc(400px - 30px);
    background: #000;
    float: left;
    margin: 15px;
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 8);
    border-radius: 10px;
}

.main-card .box:before{
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    box-sizing: border-box;
    transition: 0.5s;
    transform: scaleX(0);
    opacity: 0;
    z-index: 1;
}

.main-card .box:hover:before{
    transform: scaleX(1);
    opacity: 1;
}

.main-card .box:after{
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    box-sizing: border-box;
    transition: 0.5s;
    transform: scaleY(0);
    opacity: 0;
    z-index: 1;
}

.main-card .box:hover:after{
    transform: scaleY(1);
    opacity: 1;
}

.main-card .box .imgBox{
    position: relative;
}

.main-card .box .imgBox img{
    width: 100%;
    transition: 0.5s;
    margin: auto 0px;
    top:50%;
}

.main-card .box:hover .imgBox img{
    opacity: .2;
    transform: scale(1.2);
}

.main-card .box .content{
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}
.main-card .box .content h2{
    margin: 0 0 10px;
    padding: 0;
    color: #fff;
    transition: 0.5s;
    transform: translateY(-50px);
    opacity: 0;
    visibility: hidden;
}

.main-card .box .content p{
    margin: 0;
    padding: 0;
    color: #fff;
    transition: 0.5s;
    transform: translateY(50px);
    opacity: 0;
    visibility: hidden;
}
.main-card .box:hover .content h2,
.main-card .box:hover .content p{
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
    transition-delay: 0.2s;
}