body{
    padding: 0;
    margin:0;
}
.main{
    padding: 20px;
    display: flex;  
    flex-wrap: wrap;
}

#btn-reset{
    color: black;
    float: right;
}
#btn-reset:hover{
    color: red;
    float: right;
    text-shadow: 0 0 6px black;
}

.from-left{
    
    width: 500px;
    border: 0.5px solid #ccc;
    padding: 10px;
    margin: 25px;
    height: 320px;
    position: relative;
}

.from-left h2{
    color: red;
    text-align: center;
}
label{
    width: 100px;
    
    display: inline-block;
   
}
.from-left input[type="text"]{
    width: 300px;
    margin-bottom: 10px;
    padding: 5px;

}
button{
    padding: 5px;
    margin-left: 100px;
    text-align: center;
    width: 200px;
}
.from-right{
    margin: 25px;
    min-height: 100px;
    width: 700px;
    padding: 10px;
    border: 0.5px solid #ccc;
    text-align: center;
}
.from-right h2{
    color: red;
}
.from-right p{
    font-size: 20px;
    color:mediumblue ;
}
table{
    width: 100%;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

#view button{
    margin: 0;
    display: block;
    width: 100%;
    border: none;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    background-color: deeppink;
    color: white;
}
#error{
    display: none;
}


#form-null{
    width: 490px;
    text-align: center;
    color: black;
    border-radius: 5px;
    background-color: #E74C3C;
    padding: 5px;
    display: none;
    margin-bottom: 10px;
}

#btn-luu,#btn-fix{
    padding: 5px;
    width: 200px;
    margin: 0 auto;
}
#btn-fix{
    padding: 5px;
    width: 200px;
    margin: 0 auto;
}
