.bg-color{
    background-color: #70D3FF;
}

.fixcolor{
    color: black;
}

.navbar-dark .navbar-nav .nav-link {
    color: black;
}

.navbar-dark .navbar-nav .nav-link:hover{
    color:#4070FF;
}

.dropdown-item:hover {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: #ffffff;
    border: 0;
}

.navbar-dark .navbar-nav .nav-link {
    color: black;
    float: left;
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
     color: #4070FF;
}

.navbar-dark .navbar-toggler {
    color:#5CA4FF;
    border-color: #5CA4FF;
}

.navbar-toggler {
    background-color: #5CA4FF;
}


.navbar-dark .navbar-nav .show>.nav-link {
    color: #3D8CFF;
}
element.style {
    border-top: 1px solid #4070FF;
}

.dropdown-divider{
    border-top: 1px solid #4070FF;
}
shadow-cards{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*-------------- Login -------------*/

/* Full-width input fields */
input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  span.psw {
    float: right;
    padding-top: 16px;
  }
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: imgcontainer0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
    

  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
    border-radius: 10px;
}
  
  /* The Close Button (x) */
  .close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: red;
    cursor: pointer;
  }
  
  /* Add Zoom Animation */
  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
    
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 500px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
    .modal-content {
      background-color: #fefefe;
      margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
      border: 1px solid #888;
      width: 90%; /* Could be more or less, depending on screen size */
      border-radius: 10px;
    }
    .btn-group-login button{
      width: 100%;
    }
  }

  .form-login{
      margin: 20px;
  }

  .btn-login-info {
    color: black;
    background-color: #70D3FF;
    border-color: #70D3FF;
    width:100%;
    margin-top: 10px;
}

.btn-login-info:hover{
    opacity: 0.7;
    transition: 0.3S;
}

#forgot-pass{
 
    position: relative;
    top: 10px;
}

.login-color, .login-hover-color:hover {
    color: black !important;
    background-color: #70D3FF !important;
}

.btn-group-login button {
    background-color: white; /* Green background */
    border: 1px solid #70D3FF; /* Green border */
    color: black; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
  }
  /*----------End Login -------------*/

 
